.font-big-shoulders {
  font-family: 'Big Shoulders Stencil', sans-serif;
}

.font-Roboto {
  font-family: 'Roboto', sans-serif;
}

.font-Merriweather {
  font-family: 'Merriweather', sans-serif;
}

.custom-bullet {
  position: relative;
  padding-left: 1.5rem;
}

.custom-bullet::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 0.5rem; 
  height: 0.5rem; 
  background-color: #f59e0b;
  border-radius: 9999px;
}

.custom-bullet-right {
  position: relative;
  padding-right: 1.5rem; /* Space for the custom bullet */
  text-align: right; /* Align text to the right */
}

.custom-bullet-right::before {
  content: '';
  position: absolute;
  right: 0; /* Position the bullet on the right */
  top: 50%; /* Center the bullet vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  width: 0.5rem; /* Bullet size */
  height: 0.5rem; /* Bullet size */
  background-color: #f59e0b; /* Tailwind's yellow-500 */
  border-radius: 9999px; /* Makes it a circle */
  margin-right: 0.5rem; /* Add some space between the bullet and the text */
}